.cinema-view-title {
    margin: 10% 0 0 5%;
}

.form-content {
    margin: 10% 0 0 10%;
    color: white;
}

.cinema-input, .cinema-input:focus, .cinema-input:active {
    background-color: #242424; 
    color: white;
    outline: none;
}

.flip-card {
    background-color: transparent;
    width: 200px;
    height: 250px;
    /* border: 1px solid #f1f1f1; */
     
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-style: solid;
    border-color: linear-gradient(to right,#262b33,#707d91,#262b33);
    border-width: 10px;
    border-radius: 10px;  
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: rgba(88, 88, 88, 0.534);
    color: white;
    font-size-adjust: small;
    transform: rotateY(180deg);
  }

.container {
     min-height: 100vh; 
     height: 100% !important;
     width: 100%;
 }

.movieBoxes {
    margin-left: 7%;
    width: 85%;
    padding: 10px;
    margin-bottom: 10%;
}

.col-md-3 img {
    opacity: 0.8; 
    cursor: pointer; 
}

.col-md-3 img:hover {
    opacity: 1;
}

.button {
  background-color: rgba(39, 116, 70, 1);
  border: none;
  margin: 0 auto 5% auto;
  width: 80%;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 1rem;
  line-height: 40px;
  cursor: pointer;
} 

.button:hover {
    color: white;
    text-decoration: none;
  } 

#edit{
  background-color: #FF851B;
}

#remove{
  background-color: #FF4136;
}

#searchMovie {
    margin-bottom: 4%;
}

.titleMovie {
    margin-top: 3%;
    font-size: 1.2rem;
    line-height: 1.2rem;
}