.cinema-view-title {
    margin: 10% 0 0 10%;
}

.form-content {
    margin: 10% 0 0 10%;
    color: white;
}

.cinema-header-row{
    padding: 3% 3% 0% 3%;
}

.cinema-header{
    color:white; 
    font-size: 1.4rem; 
    font-family: 'Bebas Neue', cursive;
}

.cinema-input, .cinema-input:focus, .cinema-input:active {
    background-color: #242424; 
    color: white;
    outline: none;
}

.cinema-list {
    margin: 5% 5% 0 5%;;
    width: 100%;
}

.cinema-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10%;
    width: 100%;
    padding-bottom: 3%;
    margin-bottom: 3%;
    border-bottom: 2px solid gray;
}

.column-1 {
    grid-column: 1 / 2;
    grid-row: 1;
}

.column-2 {
    grid-column: 2 / 2;
    grid-row: 1;
}

.cinema-item  h3 {
    color: #FFF;
    margin:0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.4rem;
    line-height: 12px;
}

.btn-abm-cinema {
    margin: auto 5% auto 0;
}