.navbar {
    background-color: black;
}

.nav-link, .navbarTitle{
    font-family: 'Bebas Neue', cursive !important;
    color: white !important;
    font-size: 1.2rem;
}

.navbarTitle {
    font-size: 1.6rem;
}