h3 {
    margin: 10px 0;
}

.profile-text {
    color: white;
    font-size: 27px;
    line-height: 21px;
    margin: 1% auto 8% auto;
    text-align: justify;
}

.profile-title {
    color: white;
    font-size: 36px;
    line-height: 21px;
    margin: 2% auto 5% auto;
}

.text-container {
    width: 40%;
    margin: 0 auto;
    padding: 4%;
    background-color: #282828;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
}

.card-container {
    background-color: #242424;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
    margin: 0 auto;
    width: 50%;
    height: 80vh;
    text-align: center;
}

.card-container .img-profile {
    border: 1px solid white;
    margin-top: 2%;
    border-radius: 50%;
    padding: 7px;
}

.btn-profile {
    margin-top: 15%;
}

.profile-info {
    font-size: 24px;
    font-weight: 400;
}
